.logo {
  font-weight: bolder;
  font-size: larger;
}
.logo:hover {
  color: #ffffff;
}

.logo {
  color: rgb(252, 254, 255) !important;
}
.navlink {
  display: flex;
  gap: 20px;
}

.user img {
  width: 60px;
  margin-right: 20px;
}
.user {
  color: white;
}

@media only screen and (max-width: 768px) {
  .navigation {
    flex-direction: column !important;
  }
  .navlink {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .user {
    display: flex;
    flex-direction: column;
  }
  .user img {
    margin: 10px;
  }
}
